.btn-primary{
	background-color : #FD8008;
	border-color : #FD8008
}
.btn-primary:hover{
	background-color : #FFDAB9;
	border-color : #FFDAB9
}

.btn_popup{
	width: 80px;
	height: 20px;
	font-size: 10px;
	padding: 0px;
	border: 1px solid #FD8008;
	color: #FD8008;
	border-radius: 5px;
	background-color: white;
}

.btn_popup:hover{
	background-color: #FD8008;
	color: white;
}

.status{
	float: right;
    text-align: center;
    font-size: 10px;
	padding: 0px 5px;
    height: 15px;
    border-radius: 5px;
    color: white
}

.pur_btn{
	text-align: center;
}
.pur_btn button{
	width: auto;
	height: auto;
	margin-top: 5px;
	padding: 0px 5px !important;
	font-size: 15pt;
	font-weight: 400;
	padding: 0px;
	border: 1px solid #FD8008;
	color: #FD8008;
	border-radius: 5px;
	background-color: white;
}
@media screen and (max-width: 1400px) {
	.pur_btn button {font-size: 8pt;}
	.price {font-size: 8pt;}
} 


.pur_btn button:hover{
	background-color: #FD8008;
	color: white;
}