.btn-primary{
	background-color : #FD8008;
	border-color : #FD8008
}
.btn-primary:hover{
	background-color : #FFDAB9;
	border-color : #FFDAB9
}

/*.order{
	background-color : #FFFFFF	
}

.addr{
	display : none;
	height : 40px;
	background-color : #F5F5F5;
	margin-bottom : 10px;
}

.order:hover + .addr{
	display : block
}*/