html, body {margin: 0px; padding: 0px; overflow-x: hidden;}

.main {
	accent-color: #FD8008;
	height: auto;
}
.collapsible {
    background-color: #F5F5F5;
    color: #FD8008;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.collapsible a {
	float:right;
}

.active,
.collapsible:hover {
    background-color: #F5F5F5;
}
.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #F5F5F5;
}
.collapsible:after {
    content: '\2212';
    color: #FD8008;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2193";
}

.mobile_pro_inform {
    grid-area: main;
	background-color: #F5F5F5;
}

.mobile_pro_inform .container {
	margin-right: auto !important;
	margin-left: auto !important;
	padding: 0px !important;
	width: 30%;
	max-width: 750px;
	min-width: 350px;
}

.add_inform {
	display:flex;
	height: auto;
	padding-top: 30px;
}

.add_inform .container {
    justify-content: flex-end;
	width: 70%;
	max-width: 750px;
	min-width: 400px;
}

.head {
  	font-size: 0.9rem !important;
  	font-size: bold;
  	display: inline-block;
  	color: #495057;
  	height: 21px;
}

.head a {
  	font-size: 0.9rem !important;
 	display: inline-block;
  	text-decoration-line: none;
}

.input{
	margin-top : 5%;
}

.Inform_label {
	font-size: 1.2rem !important;
	font-weight: 800 !important;
	display: inline-block;
}

.add_btn {
	float: right;
	width: 100px;
	height: 30px;
	font-size:1rem !important;
	color: white !important;
	background-color: #FD8008;
	border: 2px solid #de6e18;
	border-radius: 5px;
}

input {
	border: 1px solid #adb5bd;
	border-radius: 5px;
}

.input_type1 {
	width: 100%;
	height: 60px;
	margin-top:10px;
}

.input_type2 {
	width: 49%;
	height: 60px;
	margin-top:10px;
}

select { border: solid #adb5bd 1px; border-radius: 5px; color: #FD8008;}
input::placeholder {color:#FD8008;}
input::-webkit-input-placeholder {color:#FD8008;}
input:-ms-input-placeholder {color:#FD8008;}

.sub{
	width: 150px;
	height: 50px;
	font-size:1rem !important;
	color: white !important;
	background-color: #FD8008;
	border: 2px solid #de6e18;
	border-radius: 5px;
}

@media screen and (max-width: 800px) {
	.pc_pro_inform {
		display:none !important;
	}
	.add_inform .container {
		margin-left: auto !important;
		margin-right: auto !important;		
	}
} 

@media screen and (min-width: 800px) {
	.mobile_pro_inform {
		display:none !important;
	}
	.add_inform {
		border-right: 2px solid #adb5bd;
	}
	.add_inform .container {
		margin-left: auto !important;	
		margin-right: max(10%, 30px) !important;
	}
} 

.pc_pro_inform {
	display: flex;
    grid-area: main;
	padding: 30px 0px 50px 0px !important;
	background-color: #F5F5F5;
}


.pc_pro_inform .container {
	align-items: center;
	justify-content: flex-start;
	margin-right: auto !important;
	margin-left: auto !important;
	padding: 0px !important;
	width: 30%;
	max-width: 750px;
	min-width: 350px;
}


.product { 
	display: inline-block;
	width: 350px;
	height: 75px;
	margin-top: 10px;
}

.product .img {
	float:left;
	width: 75px;
	height : 75px;
	border: solid #adb5bd 1px; 
	border-radius: 10px;
}
.product a{
  	color: #495057 !important;
  	font-size: 1rem !important;
  	text-decoration-line: none;
}
.product .text_box {
	width: 274px;
	height: 25px;
	margin: 0px;
}
.product .amount {
	font-weight: 800 !important;
}
.product .name{
	font-weight: 600 !important;
}
.product .price{
	float: right;
	font-weight: 600 !important;
}

.point {
	margin-top: 50px;
	width: 350px;
	height: 75px;
	line-height: 30px;
}

.point .Label {
	float: left;
	font-size: 0.7rem !important;
	font-weight: 800 !important;
}

.point a {
	float: right;
	color: #495057 !important;
  	font-size:0.8rem !important;
  	text-decoration-line: none;
}

.point .point_input{
	float: left;
	vertical-align:bottom;
	width:65%;
	height: 35px;
}

.point .btn {
	float: right;
	vertical-align:bottom;
	padding:0px;
	width: 120px;
	height: 35px;
	font-size:1rem !important;
	color: white !important;
	background-color: #FD8008;
	border: 2px solid #de6e18;
	border-radius: 5px;
}

.total { width:350px; height: 100px; margin-bottom: 20px;}

.total a {
	float: right;
	color: #495057 !important;
  	font-size: 1rem !important;
  	font-weight: 600 !important;
  	text-decoration-line: none;
}

.total .total_price {
	margin-top: 20px;
}