/*
Custom Css
*/

.btn {
	height:30px;
} 

.span-time{
	vertical-align : middle;
	display : inline-block;
	width : 20%;
	line-height : 70px;
}

.btn-secondary{
	background-color: lightgray;	
}

.div-margin{
	text-align : center;
	width : 600px;
	height : 100px;
	margin-top : 50px;
}

.btn-h{
	border : none;
  	border-radius : 20px;
  	width : 15%;
  	margin-right : 2%;
  	margin-bottom : 5%;
  	background-color : #F5F5F5;
}

.btn-h:hover{
	background-color : #FFDAB9;
}

.btn-click{
	background-color : #FD8008;
}

.btn-outline-dark:hover{
	background-color : #FD8008;
}

#wrapper{
	width : 100%;
	min-height : 1200px;
	margin-top : 40px;
	margin-bottom : 50px;
/*	row에 기본 margin right 값이 있길래 제거할라고 넣었어요!*/
	margin-right : 0px !important; 
	margin-left : 0px !important;
}

.orange-button {
	background-color: white;
	color: #FD8008; 
	border: 2px solid #FD8008; 
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 13pt;
	cursor: pointer;
	/*정렬 용*/
	display: inline-block;
}

.btn-time{
	color : white;
	background-color: #FFDAB9;
	border : none;
}

.shops{
	border : none;
  	border-radius : 20px;
	background-color : #C0C0C0;
	width : 150px !important;
	height : 30px;
}

.btn-disabled{
	border : none;
  	border-radius : 20px;
  	width : 15%;
  	margin-right : 2%;
  	margin-bottom : 5%;
	background-color : #D3D3D3
}

.calendartb {
  width : 100%;
  height : 100%;
  border-collapse : collapse;
  text-align : center;
  font-weight : bold
}

th, td {
  text-align : center;
  padding : 10px;
  background-color : #f0f0f0;
}

td {
  cursor : pointer;
  background-color : #D3D3D3
}

.td-click:hover {
  background-color : #FFDAB9;
}

.td-click{
	background-color : #FFFFFF;
}

.selected{
	background-color : #FFDAB9;
}

.thead{
	background-color : #FFFFFF;
}

.div1, .div2, .div3, .div4{
	margin-top : 50px;
}

.container{
	padding: 0px !important;
}

.title{
	color: #495057 !important;
	text-decoration-line: none;
	font-weight: 800 !important;
}

.c_div1{
	width:95%;
	max-width:610px;
	min-width : 390px;
	height:100%;
	display: inline-block;
	text-align: center;
}

.c_div2{
	width:95%;
	max-width:630px;
	min-width : 390px;
	height:100%;
	display: inline-block;
}

.div1{
	width : 100%;
	max-width : 450px;
	height : 130px;
	margin-right:auto;
	margin-left:auto;
	
}

.div2{
	width : 95%;
	max-width : 600px;
	min-width : 390px;
	height : 130px;
}

.div3{
	width : 95% !important;
	max-width : 610px;
	min-width : 390px;
	height : 400px;
	text-align : center;
}

.div4{
	width : 100% !important;
	text-align : center;
	max-width : 630px;
	min-width : 390px;
	height : 400px;
}

.div5{
	width: 100%;
	max-width:630px;
	min-width : 390px;
	height:50px;
	margin-top:15px;
/*	가운데 정렬용!*/
/*	text-align: center;*/
/*	오른쪽 정렬 용! 가운데에 붙이고싶으면 위에꺼 살려요! 얘 지우고!*/
	text-align: right;
/*	div가 안쓰이고 있었음 inline-block을 추가해 사용되게끔*/
	display: inline-block;
}

.div6{
/*	너무 꽉차는 느낌이라 width를 95%로 바꿔봤어요!*/
	width:95%;
	max-width: 1240px;
	min-width : 390px;
	height:100px;
	margin-top:40px;
/*	가운데 정렬 하기 위해 추가했어요! 왼쪽에 붙어있더라구요*/
	margin-right:auto;
	margin-left:auto;
}

/*미디어 쿼리*/
@media screen and (max-width: 1000px) {
	.Point_sel { text-align:center; display: inline-block;}
	.div2 { margin-left: auto !important;	margin-right: auto !important;		}
	.div3 { margin-left: auto !important;	margin-right: auto !important;		}
	.m_div { text-align: center;}
	
} 

@media screen and (min-width: 1000px) {
	.Point_sel { text-align:right; display: inline-block;}
	.div2 { float:left;}
	.div3 { float:right;}
	.div4 { float:left;}
	.m_div {text-align: left;}
} 