/*
Custom Css
*/

.btn {
	height:30px;
} 

.span-time{
	vertical-align : middle;
	display : inline-block;
	width : 20%;
	line-height : 70px;
}

.btn-secondary{
	background-color: lightgray;	
}

.div-margin{
	width : 75%;
	margin-left : 12.5%;
	margin-right : 12.5%;
	margin-top : 20px;
}

.btn-h{
	border : none;
  	border-radius : 20px;
  	width : 15%;
  	margin-right : 2%;
  	margin-bottom : 5%;
  	background-color : #F5F5F5;
}

.btn-h:hover{
	background-color : #FFDAB9;
}

.btn-click{
	background-color : #FD8008;
}

.btn-outline-dark:hover{
	background-color : #FD8008;
}

#wrapper{
	width : 100%;
	margin-top : 50px;
	margin-bottom : 50px;
}

.orange-button {
	background-color: white;
	color: #FD8008; 
	border: 2px solid #FD8008; 
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 13pt;
	cursor: pointer;
}

.btn-time{
	color : white;
	background-color: #FFDAB9;
	border : none;
}

.shops{
	border : none;
  	border-radius : 20px;
	background-color : #C0C0C0;
	width : 150px !important;
	height : 30px;
}

.btn-disabled{
	border : none;
  	border-radius : 20px;
  	width : 15%;
  	margin-right : 2%;
  	margin-bottom : 5%;
	background-color : #D3D3D3
}

.calendartb {
  width : 100%;
  height : 100%;
  border-collapse : collapse;
  text-align : center;
  font-weight : bold
}

th, td {
  text-align : center;
  padding : 10px;
  background-color : #f0f0f0;
}

td {
  cursor : pointer;
  background-color : #D3D3D3
}

.td-click:hover {
  background-color : #FFDAB9;
}

.td-click{
	background-color : #FFFFFF;
}

.selected{
	background-color : #FFDAB9;
}

.thead{
	background-color : #FFFFFF;
}

.div1, .div2, .div3, .div4{
	margin-top : 50px;
}

.div1{
	width : 450px;
	height : 130px;
}

.div2{
	width : 600px;
	height : 130px;
}

.div3{
	width : 610px;
	height : 400px;
	text-align : center
}

.div4{
	text-align : center;
	width : 630px;
	height : 400px
}