@charset "UTF-8";
/* #FFB26B */
/* FFD36E */
/* 세차장리스트 */
.card {
	flex-direction: row;
}

.washList {
	width:40%;
}

.list {
	margin-bottom : 1.5rem;
	vertical-align : middle;
}

.star {
	margin-bottom:2rem;
}

.card-body {
	display: grid;
    align-content: space-evenly;
    padding : 1rem 2rem;
}

i {
	margin-right:5px;
}


/* 회원가입 */
#checkID {cursor: pointer;}

.tel {
	width:25%;
	display:inline;
}

.tel2 {
	width:33%;
	display:inline;
}

/* 비밀번호 */
.pwd {
	width: 70%;
    margin: 0 auto;
}

.addr {
	display:flex;
	flex-direction: column;
	position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

.addr-text {
	flex:1 1 auto;
	/* width: 1%; */
}